<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/assets/css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
  <script src="/static/assets/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/3.7.3/bokeh.min.js" integrity="sha512-VCMNW64GgF6YCx6cLyg8tyEXFCUKbKYg4rcoTVN5A2c1AnF9QRJsYXcomu5ira0lLnirC3K1FZbnzRZDW7eOSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/3.7.3/bokeh-widgets.min.js" integrity="sha512-1bgh6HF7g3/kRhm4Jxf8MOPY8bzKX7OmqVNbHwy2eVqUkkfkQVcxlRgyStnMtOeQ0vWRzxnx7oheOOatBtlR/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/3.7.3/bokeh-tables.min.js" integrity="sha512-jmr9SJMXdJdSdnVy8qatd77Cm+5zx++SLy/IO1rx5QY5uIar/fLTUXmrFOv8X5qPfTGf2/6E2QCgQJGR2UGS/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <title>Ftprint: {% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container-fluid" style="min-height: 100%; padding:0;">
    <div class="row nav-cont">
      <nav class="navbar navbar-expand-lg navbar-dark band-dark">
        <a class="navbar-brand" href="/"><img src="/static/images/logo.png" /></a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ml-auto mt-lg-0">
            <li class="nav-item">
              <a href="/about">
                <button type="button" class="btn btn-nav">About</button></a
              >
            </li>
            <li class="nav-item">
              <a href="/reset">
                <button type="button" class="btn btn-nav">
                  Reset Password
                </button></a
              >
            </li>
            {% if session.user_id %}
            <li class="nav-item">
              <a href="/logout">
                <button type="button" class="btn btn-nav">Log out</button></a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a href="/register">
                <button type="button" class="btn btn-nav">Register</button></a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
    <div class="row main">{% block main %}{% endblock %}</div>
    <div class="row align-items-end footer-cont">
      <div class="footer band-dark">
        Made by Mubeen Padaniya. <a href="https://itsmubeen.me">Portfolio</a>
      </div>
    </div>
  </div>
</body>
